/* Variables */
    :root {
        /* Colours */
            --color1A: #deb887;
            --color1B: #be9867;
            --color2A: #faebd7;
            --color2B: #dacbb7;
            --color3A: #fffaf0;
            --color3B: #cfcac0;
        
        /* Fonts */
            --heading1: 'Jacques Francois Shadow', serif;
            --heading2: 'Jacques Francois', serif;
            --paragraph: 'Judson', serif;
            --minor: 'Italiana', serif;


        /* Borders */
            /* Styles
                Set within Classes->Utility->Borders */
                --frame: ridge;
                --carve: inset;
                --jut: outset;
            
            /* Widths
                Set within Elements */
                --smallSmall: 0.25rem;
                --smallMedium: 0.5rem;
                --smallLarge: 0.75rem;
                --mediumTiny: 1.0rem;
                --mediumSmall: 1.25rem;
                --mediumMedium: 1.5rem;
                --mediumLarge: 1.75rem;
                --largeSmall: 2.25rem;
                --largeMedium: 2.5rem;
                --largeLarge: 2.75rem;
    }

/* Elements */
    /* Sections */
        body {
            margin: 0;
            border: var(--smallLarge) var(--jut) var(--color1A);
            padding: 0;

            background-image: linear-gradient(to bottom, var(--color3A) 0%, var(--color3B) 100%);
            background-attachment: fixed;
        }

        header, main, footer {
            max-width: 95%;

            margin: var(--smallMedium) auto;
            border: var(--smallLarge) var(--frame) var(--color1A);
            padding: var(--smallMedium);

            background-color: var(--color2A);
        }

        section, form, div {
            max-width: 95%;
            margin: 0 auto;
            padding: var(--smallMedium);
        }

    /* Text */
        h1 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: bold var(--largeSmall) var(--heading1);
            text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        }
        h2 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: bold var(--mediumLarge) var(--heading2);
            text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        }
        h3, h4, h5, h6 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: bold var(--mediumSmall) var(--heading2);
            text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        }

        p {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: var(--mediumMedium) var(--paragraph);
            text-align: justify;
        }

        footer p {
            font: var(--minor);
        }

        select, option {
            font-family: 'Judson', sans-serif;
        }

    /* Images */
        header:hover img {
            transform: scale(1.1);
        }

/* Classes */
    /* Utility */
        /* Alignment */
            .alignCenter {text-align: center;}
            .alignRight {text-align: right;}

        /* Layout */
            .parent {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
            }
            .parent > div {
                min-width: fit-content;
                margin: var(--smallMedium);
            }
            .childBully {flex: 1 1 auto}
            .childDull {flex: 1 1 auto;}
            .childWhingey {flex: 0 1 auto}
            .childScary {flex: 0 0 auto}
        
        /* Borders */
            .borderCarve {
                border-style: var(--in);
                border-color: var(--color1A);
            }

            .borderFrame {
                border-style: var(--frame);
                border-width: var(--smallSmall);
                border-color: rgba(0, 0, 0, 0.2);
            }

            .borderNone {
                border-style: hidden;
            }

    /* Forms */
        .form__label {
            font-family: 'Judson', sans-serif;
            font-size: var(--mediumSmall);
            margin-left: auto;
            margin-top: auto;
            display: block;
            transition: all 0.3s;
            transform: translateY(0rem);
        }
            
        .form__input {
            font-family: 'Judson', sans-serif;
            color: #333;
            font-size: 1.2rem;
            
            margin: 0 auto;
            padding: 1.5rem 2rem;
            
            border-radius: 0.2rem;
            background-color: rgb(255, 255, 255);
            border: none;
            max-width: 75%;
            display: block;
            border-bottom: 0.3rem solid transparent;
            
            /*todo find out if there's any way to combine hex values with alpha */
            border-bottom-color: rgba(0, 0, 0, 0.2);
            transition: all 0.3s;
        }
            
        .form__input:placeholder-shown + .form__label {
            opacity: 0;
            visibility: hidden;
            -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
        }


/* ID */
    #loading-message {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #formUserText {
        order: -1;
    }

/* Media Queries */
    /* Non-Desktop */
        /* Mobile */
        @media (max-width: 576px) {
            /* Increase font size */
            body { font-size: 1.2rem; }
            h1 { font-size: 1.6rem; }
            h2 { font-size: 1.4rem; }
            h3, h4, h5, h6 { font-size: 1.2rem; }
            p { font-size: 1rem; }
        
            /* Remove borders */
            .borderCarve { border: none; }
            .borderFrame { border: none; }
        
            /* Make form elements full-width */
            select, input { width: 100%; }
        }
        
        /* Tablet */
        @media (min-width: 576px) and (max-width: 768px) {
            /* Increase font size slightly */
            body { font-size: 1.4rem; }
            h1 { font-size: 1.8rem; }
            h2 { font-size: 1.6rem; }
            h3, h4, h5, h6 { font-size: 1.4rem; }
            p { font-size: 1.2rem; }
        
            /* Make form elements full-width */
            select, input { width: 100%; }
        }
    
    /* Desktop */
    @media (min-width: 768px) {
        /* Reset font size to default */
        body { font-size: 1rem; }
        h1 { font-size: 1.6rem; }
        h2 { font-size: 1.4rem; }
        h3, h4, h5, h6 { font-size: 1.2rem; }
        p { font-size: 1rem; }

        #formUserText {order: 0;}
    
        /* Make form elements full-width */
        select, input { width: 100%; }
    }