/* Debug */
    /* * {border: 0.var(--mediumTiny) dashed black;} */

/* Variables */
    :root {
        /* Colours */
            --border: burlywood;
            --background1: floralwhite;
            --background2: antiquewhite;

        /* Borders */
            /* Styles
                Set within Classes->Utility->Borders */
                --frame: ridge;
                --carve: inset;
                --jut: outset;
            
            /* Widths
                Set within Elements */
                --smallSmall: 0.2rem;
                --smallMedium: 0.4rem;
                --smallLarge: 0.6rem;
                --mediumTiny: 1.0rem;
                --mediumSmall: 1.2rem;
                --mediumMedium: 1.4rem;
                --mediumLarge: 1.6rem;
                --largeSmall: 2.2rem;
                --largeMedium: 2.4rem;
                --largeLarge: 2.6rem;
    }

/* Elements */
    /* Sections */
        body {
            margin: var(--mediumTiny);
            border-width: var(smallLarge);
            background-color: var(--background1);
            padding: var(--smallMedium);
        }

        header, main, footer {
            margin: var(--mediumTiny);
            border-width: var(smallLarge);
            background-color: var(--background2);
            padding: var(--smallMedium);
        }

        main section, main form, main div {
            margin: var(--mediumTiny);
            padding: var(--mediumTiny);
        }

    /* Text */
        h1 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font-family: 'Jacques Francois Shadow', serif;
        }

        h2, h3, h4, h5, h6 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font-family: 'Jacques Francois', serif;
        }

        p {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font-family: 'Judson', sans-serif;
        }
        
        footer p, select, option, input {font-family: Italiana;}

/* Classes */
    /* Utility */
        /* Alignment */
            .center {text-align: center;}

        /* Layout */
            .parent {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .childBully {flex: 1 0 auto}
            .childDull {flex: 1 1 auto;}
            .childWhingey {flex: 0 1 auto}
            .childScary {flex: 0 0 auto}
        
        /* Borders */
            .borderCarve {
                border-style: var(--in);
                border-color: var(--border);
            }

            .borderFrame {
                border-style: var(--frame);
                border-color: var(--border);
            }

            .borderNone {border-style: hidden;}