/* Debug */
    /* * {border: 0.var(--mediumTiny) dashed black;} */

/* Variables */
    :root {
        /* Colours */
            --color1: burlywood;
            --color2: antiquewhite;
            --color3: #fffaf0;
        
        /* Fonts */
            --heading1: 'Jacques Francois Shadow', serif;
            --heading2: 'Jacques Francois', serif;
            --paragraph: 'Judson', serif;
            --minor: 'Italiana', serif;


        /* Borders */
            /* Styles
                Set within Classes->Utility->Borders */
                --frame: ridge;
                --carve: inset;
                --jut: outset;
            
            /* Widths
                Set within Elements */
                --smallSmall: 0.25rem;
                --smallMedium: 0.5rem;
                --smallLarge: 0.75rem;
                --mediumTiny: 1.0rem;
                --mediumSmall: 1.25rem;
                --mediumMedium: 1.5rem;
                --mediumLarge: 1.75rem;
                --largeSmall: 2.25rem;
                --largeMedium: 2.5rem;
                --largeLarge: 2.75rem;
    }

/* Elements */
    /* Sections */
        body {
            margin: 0;
            border-width: var(smallLarge);
            background-color: #f5f5ee;
            background-image: linear-gradient(to bottom, #f5f5ee 0%, #f4f4ed 100%);
            background-attachment: fixed;
            padding: 0;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: var(--smallSmall);
            border: var(--smallLarge) var(--frame) var(--color1);
            padding: var(--smallLarge);
            background-color: var(--color2);
          
               
        }

        main, footer {
            margin: var(--smallSmall);
            background-color: var(--color2);
            padding: var(--smallLarge);
        }

        section, form, div {
            margin: 0;
            padding: var(--smallMedium);
        }

    /* Text */
        h1 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: bold var(--largeSmall) var(--heading1);
        }
        h2 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: bold var(--mediumLarge) var(--heading2);
        }
        h3, h4, h5, h6 {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: bold var(--mediumSmall) var(--heading2);
        }

        header p {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: var(--mediumMedium) var(--paragraph);
        }
        main p {
            margin: var(--smallMedium);
            padding: var(--smallMedium);
            font: var(--mediumMedium) var(--paragraph);
        }
        footer p {
            font: var(--minor);
        }

        select, option, input {font-family: 'Judson', sans-serif;}

    /* Images */
        header:hover img {
            transform: scale(1.1);
        }

/* Classes */
    /* Utility */
        /* Alignment */
            .alignCenter {text-align: center;}
            .alignRight {text-align: right;}

        /* Layout */
            .parent {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .parent > div {margin: var(--smallMedium)}
            .childBully {flex: 1 0 auto}
            .childDull {flex: 1 1 auto;}
            .childWhingey {flex: 0 1 auto}
            .childScary {flex: 0 0 auto}
        
        /* Borders */
            .borderCarve {
                border-style: var(--in);
                border-color: var(--color1);
            }

            .borderFrame {
                border-style: var(--frame);
                border-color: var(--color1);
            }

            .borderNone {border-style: hidden;}

    /* Forms */
        .form__label {
            font-family: 'Judson', sans-serif;
            font-size: var(--mediumSmall);
            margin-left: auto;
            margin-top: auto;
            display: block;
            transition: all 0.3s;
            transform: translateY(0rem);
            }
            
        .form__input {
        font-family: 'Judson', sans-serif;
        color: #333;
        font-size: 1.2rem;
            margin: 0 auto;
        padding: 1.5rem 2rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 90%;
        display: block;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;
        }
            
        .form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
        }


/* ID */
    #loading-message {
        text-align: center;
    }